<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/animate.css")">
    <!-- bootstrap -->
    @*<link rel="stylesheet" href="../Content/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <!-- et line icon -->
    @*<link rel="stylesheet" href="../Content/css/et-line-icons.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/et-line-icons.css")">
    <!-- font-awesome icon -->
    @*<link rel="stylesheet" href="../Content/css/font-awesome.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <link href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <!-- themify icon -->
    @*<link rel="stylesheet" href="../Content/css/themify-icons.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/themify-icons.css")">
    <!-- swiper carousel -->
    @*<link rel="stylesheet" href="../Content/css/swiper.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/swiper.min.css")">
    <!-- justified gallery  -->
    @*<link rel="stylesheet" href="../Content/css/justified-gallery.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/justified-gallery.min.css")">
    <!-- magnific popup -->
    @*<link rel="stylesheet" href="../Content/css/magnific-popup.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/magnific-popup.css")">
    <!-- revolution slider -->
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/settings.css" media="screen" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/settings.css")" media="screen">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/layers.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/layers.css")">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/navigation.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/navigation.css")">
    <!-- bootsnav -->
    @*<link rel="stylesheet" href="../Content/css/bootsnav.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootsnav.css")">
    <!-- style -->
    @*<link rel="stylesheet" href="../Content/css/style.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style.css")">
    <!-- responsive css -->
    @*<link rel="stylesheet" href="../Content/css/responsive.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsive.css")">
</head>
<body>
    <!-- start navigation -->
    <nav class="navbar no-margin-bottom bootsnav alt-font bg-white sidebar-nav sidebar-nav-style-1 navbar-expand-lg">
        <!-- start logo -->
        <div class="col-12 sidenav-header">
            <div class="logo-holder">
                <a href="..Admin/CategoryMaster" class="display-inline-block logo"><img alt="DC9India" src="~/Content/images/Dc9Logo.png" data-rjs="~/Content/images/Dc9Logo.png" /></a>
            </div>
            <!-- end logo -->
            <button class="navbar-toggler mobile-toggle" type="button" id="mobileToggleSidenav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="col-12 px-0">
            <div id="navbar-menu" class="collapse navbar-collapse no-padding">
                <ul class="nav navbar-nav navbar-left-sidebar font-weight-500">
                    <li class="dropdown">
                        <a href="#" title="Master">Master<i class="fas fa-angle-right"></i></a>

                        <ul class="dropdown-menu second-level">
                            <li class="dropdown">
                                <a href="../Admin/CategoryMaster">Category Master</a>
                            </li>
                            <li class="dropdown">
                                <a href="../Admin/SubCategoryMaster">Sub Category Master</a>
                            </li>
                            <li class="dropdown">
                                <a href="../Admin/PlanMaster">Plans Mater</a>
                            </li>
                            <li class="dropdown">
                                <a href="../Admin/AdditionalItem">Additional Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#" title="Pages">Pages <i class="fas fa-angle-right"></i></a>
                        <ul class="dropdown-menu second-level">
                            <li class="dropdown">
                                <a href="services-simple.html">Services simple</a>
                            </li>
                            <li class="dropdown">
                                <a href="services-simple.html">Services simple</a>
                            </li>
                            <li class="dropdown">
                                <a href="services-simple.html">Services simple</a>
                            </li>
                            <li class="dropdown">
                                <a href="services-simple.html">Services simple</a>
                            </li>
                            <li class="dropdown">
                                <a href="services-simple.html">Services simple</a>
                            </li>
                        </ul>
                    </li>
                  
                    <li>
                        <div class="side-left-menu-close close-side"></div>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="col-12 position-absolute top-auto bottom-0 left-0 width-100 padding-20px-bottom sm-padding-15px-bottom">
            <div class="footer-holder">
                <form class="navbar-form no-padding search-box" role="search">
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="Enter your keywords..." name="srch-term" id="srch-term" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="icon-social-medium margin-eleven-bottom padding-eight-top sm-padding-15px-top sm-margin-15px-bottom">
                    <a href="https://www.facebook.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://dribbble.com/" target="_blank" class="text-link-extra-dark-gray"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com" target="_blank" class="text-link-extra-dark-gray"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
                </div>
                <div class="text-medium-gray text-extra-small border-top border-color-extra-light-gray padding-twelve-top sm-padding-15px-top">&COPY; 2019 POFO. All rights reserved</div>
            </div>
        </div>*@
    </nav>

    <a class="scroll-top-arrow" href="#"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <div class="sidebar-wrapper mobile-height">
        <section class="wow fadeIn no-padding">
            @RenderBody()
        </section>
    </div>

    @*<script type="text/javascript" src="../Content/js/jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    @*<script type="text/javascript" src="../Content/js/modernizr.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/modernizr.js")"></script>
    @*<script type="text/javascript" src="../Content/js/bootstrap.bundle.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.bundle.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.easing.1.3.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.1.3.js")"></script>
    @*<script type="text/javascript" src="../Content/js/skrollr.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skrollr.min.js")"></script>
    @*<script type="text/javascript" src="../Content/js/smooth-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/smooth-scroll.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.appear.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.appear.js")"></script>
    <!-- menu navigation -->
    @*<script type="text/javascript" src="../Content/js/bootsnav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootsnav.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.nav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nav.js")"></script>
    <!-- animation -->
    @*<script type="text/javascript" src="../Content/js/wow.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <!-- page scroll -->
    @*<script type="text/javascript" src="../Content/js/page-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/page-scroll.js")"></script>
    <!-- swiper carousel -->
    @*<script type="text/javascript" src="../Content/js/swiper.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/swiper.min.js")"></script>
    <!-- counter -->
    @*<script type="text/javascript" src="../Content/js/jquery.count-to.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.count-to.js")"></script>
    <!-- parallax -->
    @*<script type="text/javascript" src="../Content/js/jquery.stellar.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.stellar.js")"></script>
    <!-- magnific popup -->
    @*<script type="text/javascript" src="../Content/js/jquery.magnific-popup.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.magnific-popup.min.js")"></script>
    <!-- portfolio with shorting tab -->
    @*<script type="text/javascript" src="../Content/js/isotope.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/isotope.pkgd.min.js")"></script>
    <!-- images loaded -->
    @*<script type="text/javascript" src="../Content/js/imagesloaded.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/imagesloaded.pkgd.min.js")"></script>
    <!-- pull menu -->
    @*<script type="text/javascript" src="../Content/js/classie.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/classie.js")"></script>
    @*<script type="text/javascript" src="../Content/js/hamburger-menu.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/hamburger-menu.js")"></script>
    <!-- counter  -->
    @*<script type="text/javascript" src="../Content/js/counter.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/counter.js")"></script>
    <!-- fit video  -->
    @*<script type="text/javascript" src="../Content/js/jquery.fitvids.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.fitvids.js")"></script>
    <!-- skill bars  -->
    @*<script type="text/javascript" src="../Content/js/skill.bars.jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skill.bars.jquery.js")"></script>
    <!-- justified gallery  -->
    @*<script type="text/javascript" src="../Content/js/justified-gallery.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/justified-gallery.min.js")"></script>
    <!--pie chart-->
    @*<script type="text/javascript" src="../Content/js/jquery.easypiechart.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easypiechart.min.js")"></script>
    <!-- retina -->
    @*<script type="text/javascript" src="../Content/js/retina.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/retina.min.js")"></script>
    <!-- revolution -->
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.tools.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.tools.min.js")"></script>
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.revolution.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    <script src="https://cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>
</body>
</html>
