@using System.Data;
@using Dc9.India.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../Content/images/favicon.png">
    <link rel="apple-touch-icon" href="../Content/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/images/apple-touch-icon-114x114.png">
    <!-- animation -->
    @*<link rel="stylesheet" href="../Content/css/animate.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/animate.css")">
    <!-- bootstrap -->
    @*<link rel="stylesheet" href="../Content/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <!-- et line icon -->
    @*<link rel="stylesheet" href="../Content/css/et-line-icons.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/et-line-icons.css")">
    <!-- font-awesome icon -->
    @*<link rel="stylesheet" href="../Content/css/font-awesome.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <!-- themify icon -->
    @*<link rel="stylesheet" href="../Content/css/themify-icons.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/themify-icons.css")">
    <!-- swiper carousel -->
    @*<link rel="stylesheet" href="../Content/css/swiper.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/swiper.min.css")">
    <!-- justified gallery  -->
    @*<link rel="stylesheet" href="../Content/css/justified-gallery.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/justified-gallery.min.css")">
    <!-- magnific popup -->
    @*<link rel="stylesheet" href="../Content/css/magnific-popup.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/magnific-popup.css")">
    <!-- revolution slider -->
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/settings.css" media="screen" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/settings.css")" media="screen">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/layers.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/layers.css")">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/navigation.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/navigation.css")">
    <!-- bootsnav -->
    @*<link rel="stylesheet" href="../Content/css/bootsnav.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootsnav.css")">
    <!-- style -->
    @*<link rel="stylesheet" href="../Content/css/style.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style.css")">
    <!-- responsive css -->
    @*<link rel="stylesheet" href="../Content/css/responsive.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsive.css")">
</head>
<body>
   
    <!-- start header -->
    <header class="header-with-topbar">
        <!-- topbar -->
        <div class="top-header-area bg-black padding-10px-tb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-uppercase alt-font d-flex align-items-center justify-content-center justify-content-md-start">
                        </div>
                    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-end">
                        <div class="icon-social-very-small display-inline-block line-height-normal">
                             </div>
                        <div class="btn-group dropdown-style-1">
                            <button type="button" class="btn  sm-width-100 mr-2">
                                Support 
                            </button>
                            <button type="button" class="btn  sm-width-100 ml-4">
                                Contact 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end topbar -->
        <!-- start navigation -->
        <nav class="navbar navbar-default bootsnav navbar-top header-light-transparent background-transparent nav-box-width navbar-expand-lg">
            <div class="container nav-header-container">
                <!-- start logo -->
                <div class="col-auto pl-lg-0 pt-1">
                    <a href="../" title="Dc9India" class="logo"><img src="~/Content/images/Dc9_logo_light.png" data-rjs="~/Content/images/Dc9_logo_light.png" class="logo-dark default" alt="Dc9India"><img src="~/Content/images/Dc9_logo_light.png" data-rjs="~/Content/images/Dc9_logo_light.png" alt="Dc9India" class="logo-light"></a>
                </div>
                <!-- end logo -->
                <div class="col accordion-menu pr-0 pr-md-3">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-center" id="navbar-collapse-toggle-1">
                        <!--<ul class="nav navbar-nav alt-font text-normal">
        <!-- start menu item -->
                        <!--<li><a href="../Home/AboutUs" class="inner-link">About us</a></li>-->
                        <!-- end menu item -->
                        <!-- start menu item -->
                        <!--<li><a href="../Home/ContactUs" class="inner-link">Contact Us</a></li>-->
                        <!-- end menu item -->
                        <!-- start menu item -->
                        <!--<li><a href="#blog" class="inner-link">Blog</a></li>-->
                        <!-- end menu item -->
                        <!-- start menu item -->
                        <!--<li><a href="#features" class="inner-link">Features</a></li>-->
                        <!-- end menu item -->
                        <!-- start menu item -->
                        <!--<li><a href="http://www.themezaa.com/html/pofo/documentation/" target="_blank">Documentation</a></li>
        <!-- end menu item -->
                        <!-- start menu item -->
                        <!--<li><a href="#Support">Support</a></li>-->
                        <!-- end menu item -->
                        <!--</ul>-->
                        @{
                            DataSet ds = new DataSet();

                            ds = CommonMethod.ExecuteProcByDataset("GetMenu_Bar_Cat_SubCat_SP");

                            <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal " data-in="fadeIn" data-out="fadeOut">
                                <!-- start menu item -->
                                <li class="dropdown megamenu-fw">
                                    <a href="../">Home</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>
                                @if (ds.Tables[0].Rows.Count > 0)
                                {
                                    for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                                    {
                                        <li class="dropdown megamenu-fw">
                                            <a href="#">@ds.Tables[0].Rows[i]["CategoryName"]</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                            <!-- start sub menu -->
                                            @if (ds.Tables[1].Rows.Count > 0)
                                            {
                                                <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full">
                                                    <ul>
                                                        @for (int j = 0; j < ds.Tables[1].Rows.Count; j++)
                                                        {
                                                            if (ds.Tables[0].Rows[i]["Id"].ToString() == ds.Tables[1].Rows[j]["Category_Id_FK"].ToString())
                                                            {

                                                                <!-- start sub menu column  -->
                                                                if (ds.Tables[1].Rows[j]["SubCategoryName"].ToString().Contains("(Managed)"))
                                                                {
                                                                    <li class="dropdown-header"><a href="../Vpshosting/ManagedServer?SC=@ds.Tables[1].Rows[j]["Id"].ToString()">@ds.Tables[1].Rows[j]["SubCategoryName"].ToString()</a></li>

                                                                }
                                                                else if (ds.Tables[1].Rows[j]["SubCategoryName"].ToString().Contains("(Self-Managed)"))
                                                                {
                                                                    <li class="dropdown-header"><a href="../Vpshosting/SelfManagedServer?SC=@ds.Tables[1].Rows[j]["Id"].ToString()">@ds.Tables[1].Rows[j]["SubCategoryName"].ToString()</a></li>

                                                                }
                                                                else
                                                                {
                                                                    <li class="dropdown-header"><a href="../Vpshosting/SelfManagedServer?SC=@ds.Tables[1].Rows[j]["Id"].ToString()">@ds.Tables[1].Rows[j]["SubCategoryName"].ToString()</a></li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                    <!-- end sub menu -->
                                                </div>
                                            }

                                        </li>
                                    }

                                }
                                <li class="dropdown megamenu-fw">
                                    <a href="../Home/ContactUs">Contact Us</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>

                                <!-- end menu item -->

                            </ul>
                        }
                    </div>
                </div>
                <div class="col-auto pr-lg-0">
                    <div class="header-searchbar">
                        <a href="../UserLogin/Login" class="btn pofo-button-28 sm-display-table button-style6  btn-danger btn-rounded  btn-medium   vc_custom_1507703952526 pofo-button-responsive-6762a27febfab">Client Area</a>


                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
        <!-- end navigation -->
    </header>
    <!-- end header -->
    <div>
        @RenderBody()
    </div>
    <!-- start call to action -->
    <section class="half-section wow fadeIn cover-background" style="background-image: url(../Content/images/footerlong.jpg); ">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 position-relative text-center">
                    <span class="text-extra-large text-white-2 alt-font d-inline-block margin-5px-top margin-30px-right sm-no-margin-right sm-no-margin-top sm-margin-15px-bottom sm-width-100">Let's Power Your Project with Seamless Hosting Solutions!</span>
                    <a href="../Home/ContactUs" class="btn btn-white btn-small align-top sm-no-margin-right">Get Started !</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action -->
    <!-- start footer -->
    <footer class="footer-clean padding-five-tb sm-padding-30px-tb" style="display:none;">
        <div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
            <div class="container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-lg-3 widget text-left text-md-center text-lg-left md-margin-50px-bottom sm-margin-30px-bottom">
                        <a href="http://www.themezaa.com" class="d-inline-block"><img class="footer-logo" src="~/Content/images/Dc9Logo1.png" data-rjs="~/Content/images/Dc9Logo1.png" alt=""></a>
                    </div>
                    <!-- end logo -->
                    <!-- start contact information -->
                    <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">Other Links</div>
                        <ul class="list-unstyled">
                            <li class="w-50 "><a href="../Home/AboutUs" class="text-medium-gray text-small">About us</a></li>
                            <li class="w-50 "><a href="../Home/TermsAndCondition" class="text-medium-gray text-small">Terms & Condition</a></li>
                            <li class="w-50 "><a href="../Home/Privacy" class="text-medium-gray text-small">Privacy & Policy</a></li>
                            <li class="w-50 "><a href="../Home/TermsAndCondition" class="text-medium-gray text-small">Refund & Return policy</a></li>
                            <li class="w-50 "><a href="#" class="text-medium-gray text-small">Cancellation policy</a></li>
                            <li class="w-50 "><a href="#" class="text-medium-gray text-small">Server level Agreement</a></li>
                        </ul>
                    </div>
                    <!-- end contact information -->
                    <!-- start social media -->
                    <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">On social networks</div>
                        <ul class="list-unstyled">
                            <li class="w-50 float-left"><a href="https://www.facebook.com/" target="_blank" class="text-medium-gray text-small">Facebook</a></li>
                            <li class="w-50 float-left"><a href="https://www.pinterest.com/" target="_blank" class="text-medium-gray text-small">Pinterest</a></li>
                            <li class="w-50 float-left"><a href="https://www.twitter.com/" target="_blank" class="text-medium-gray text-small">Twitter</a></li>
                            <li class="w-50 float-left"><a href="https://www.linkedin.com/" target="_blank" class="text-medium-gray text-small">Linkedin</a></li>
                            <li class="w-50 float-left"><a href="https://www.dribbble.com/" target="_blank" class="text-medium-gray text-small">Dribbble</a></li>
                            <li class="w-50 float-left"><a href="https://www.youtube.com/" target="_blank" class="text-medium-gray text-small">Youtube</a></li>
                            <li class="w-50 float-left"><a href="https://www.instagram.com/" target="_blank" class="text-medium-gray text-small">Instagram</a></li>
                        </ul>
                    </div>
                    <!-- end social media -->
                    <!-- start newsletter -->
                    <div class="col-lg-3 col-md-4 widget">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-20px-bottom font-weight-600">subscribe newsletter</div>
                        <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                            <div class="position-relative w-100">
                                <div id="success-subscribe-newsletter" class="mx-0"></div>
                                <input type="text" id="email" name="email" class="bg-transparent text-small margin-10px-bottom" placeholder="Enter your email...">
                                <button id="button-subscribe-newsletter" type="submit" class="btn btn-dark-gray btn-very-small">subscribe</button>
                            </div>
                        </form>
                    </div>
                    <!-- end newsletter -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border-color-extra-light-gray border-top padding-40px-top sm-padding-30px-top">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-12 text-small text-center text-medium-gray">&COPY; 2024 DC9India is Proudly Powered by DC9India</div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <footer class="footer-standard-dark bg-extra-dark-gray">
        <div class="footer-widget-area padding-five-tb sm-padding-30px-tb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 widget border-right border-color-medium-dark-gray md-no-border-right md-margin-30px-bottom sm-text-center">
                        <!-- start logo -->
                        <a href="/" class="margin-20px-bottom d-inline-block"><img class="footer-logo" src="~/Content/images/dc9-white.png" data-rjs="~/Content/images/dc9-white.png" alt=""></a>
                        <!-- end logo -->
                        <p class="text-small width-95 sm-width-100"></p>
                        <!-- start social media -->
                        <!-- end social media -->
                    </div>
                    <!-- start additional links -->
                    <div class="col-lg-3 col-md-6 widget border-right border-color-medium-dark-gray padding-45px-left md-padding-15px-left md-no-border-right md-margin-30px-bottom text-center text-md-left">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Additional Links</div>
                        <ul class="list-unstyled">

                            <li><a href="../Home/AboutUs" class="text-small">About us</a></li>
                            <li><a href="../Home/TermsAndCondition" class="text-small">Terms & Condition</a></li>
                            <li><a href="../Home/Privacy" class="text-small">Privacy & Policy</a></li>
                            <li><a href="../Home/ReturnAndRefund" class="text-small">Cancellation / Refund Policy</a></li>
                            <li><a href="../Home/AcceptablePolicy" class="text-small">Acceptable Use Policy</a></li>
                            <li><a href="../Home/Agreement" class="text-small">Service Level Agreement</a></li>
                            <li><a href="../Home/Cookies" class="text-small">Cookies</a></li>
                        </ul>
                    </div>
                    <!-- end additional links -->
                    <!-- start contact information -->
                    <div class="col-lg-3 col-md-6 widget border-right border-color-medium-dark-gray padding-45px-left md-padding-15px-left md-clear-both md-no-border-right sm-margin-30px-bottom text-center text-md-left">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Contact Info</div>
                        <p class="text-small d-block margin-15px-bottom width-80 sm-width-100">Dc9India<br> </p>
                        <div class="text-small">Email: <a href="mailto:admin@dc9india.com">admin@dc9india.com</a></div>
                        <div class="text-small">Phone: +91 9220882414</div>
                        @*<a href="contact-us-modern.html" class="text-small text-uppercase text-decoration-underline">View Direction</a>*@
                        <div class="">
                            <div class="widget-title alt-font text-small mt-3 text-medium-gray text-uppercase margin-15px-bottom font-weight-600">Subscribe Newsletter</div>
                            <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                                <div class="position-relative newsletter width-95">
                                    <div id="success-subscribe-newsletter" class="mx-0" style="display: none;"></div>
                                    <input type="text" id="email" name="email" class="bg-transparent text-small m-0 border-color-medium-dark-gray" placeholder="Enter your email...">
                                    <button id="button-subscribe-newsletter" type="submit" class="btn btn-arrow-small position-absolute border-color-medium-dark-gray"><i class="fas fa-caret-right no-margin-left"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end contact information -->
                    <!-- start instagram -->
                    <div class="col-lg-3 col-md-6 widget padding-45px-left md-padding-15px-left text-center text-md-left">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Connect With Us</div>

                        <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                            <ul class="small-icon no-margin-bottom">
                                <li><a class="facebook text-white-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a class="twitter text-white-2" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google text-white-2" href="https://plus.google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="instagram text-white-2" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- end instagram -->
                </div>
            </div>
        </div>
        <div class="bg-dark-footer padding-50px-tb text-center sm-padding-30px-tb">
            <div class="container">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-md-6 text-md-left text-small text-center">&copy; 2024 Copy Right Dc9 India</div>
                    <div class="col-md-6 text-md-right text-small text-center">
                        <a href="../Home/TermsAndCondition" class="text-dark-gray">Term and Condition</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../Home/Privacy" class="text-dark-gray">Privacy Policy</a>
                    </div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    @*<script>
            // Get the modal
            var modal = document.getElementById("loginModal");

            // Get the button that opens the modal
            var btn = document.getElementById("loginBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>*@
    <script>
        function BuyNow(id) {
            $(window.location).attr("href", "/Vpshosting/Cart?id=" + id);
        }
    </script>
    @*<script type="text/javascript" src="../Content/js/jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    @*<script type="text/javascript" src="../Content/js/modernizr.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/modernizr.js")"></script>
    @*<script type="text/javascript" src="../Content/js/bootstrap.bundle.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.bundle.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.easing.1.3.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.1.3.js")"></script>
    @*<script type="text/javascript" src="../Content/js/skrollr.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skrollr.min.js")"></script>
    @*<script type="text/javascript" src="../Content/js/smooth-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/smooth-scroll.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.appear.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.appear.js")"></script>
    <!-- menu navigation -->
    @*<script type="text/javascript" src="../Content/js/bootsnav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootsnav.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.nav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nav.js")"></script>
    <!-- animation -->
    @*<script type="text/javascript" src="../Content/js/wow.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <!-- page scroll -->
    @*<script type="text/javascript" src="../Content/js/page-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/page-scroll.js")"></script>
    <!-- swiper carousel -->
    @*<script type="text/javascript" src="../Content/js/swiper.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/swiper.min.js")"></script>
    <!-- counter -->
    @*<script type="text/javascript" src="../Content/js/jquery.count-to.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.count-to.js")"></script>
    <!-- parallax -->
    @*<script type="text/javascript" src="../Content/js/jquery.stellar.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.stellar.js")"></script>
    <!-- magnific popup -->
    @*<script type="text/javascript" src="../Content/js/jquery.magnific-popup.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.magnific-popup.min.js")"></script>
    <!-- portfolio with shorting tab -->
    @*<script type="text/javascript" src="../Content/js/isotope.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/isotope.pkgd.min.js")"></script>
    <!-- images loaded -->
    @*<script type="text/javascript" src="../Content/js/imagesloaded.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/imagesloaded.pkgd.min.js")"></script>
    <!-- pull menu -->
    @*<script type="text/javascript" src="../Content/js/classie.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/classie.js")"></script>
    @*<script type="text/javascript" src="../Content/js/hamburger-menu.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/hamburger-menu.js")"></script>
    <!-- counter  -->
    @*<script type="text/javascript" src="../Content/js/counter.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/counter.js")"></script>
    <!-- fit video  -->
    @*<script type="text/javascript" src="../Content/js/jquery.fitvids.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.fitvids.js")"></script>
    <!-- skill bars  -->
    @*<script type="text/javascript" src="../Content/js/skill.bars.jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skill.bars.jquery.js")"></script>
    <!-- justified gallery  -->
    @*<script type="text/javascript" src="../Content/js/justified-gallery.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/justified-gallery.min.js")"></script>
    <!--pie chart-->
    @*<script type="text/javascript" src="../Content/js/jquery.easypiechart.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easypiechart.min.js")"></script>
    <!-- retina -->
    @*<script type="text/javascript" src="../Content/js/retina.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/retina.min.js")"></script>
    <!-- revolution -->
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.tools.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.tools.min.js")"></script>
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.revolution.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>


</body>
</html>
