<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../Content/images/favicon.png">
    <link rel="apple-touch-icon" href="../Content/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/images/apple-touch-icon-114x114.png">
    <!-- animation -->
    @*<link rel="stylesheet" href="../Content/css/animate.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/animate.css")">
    <!-- bootstrap -->
    @*<link rel="stylesheet" href="../Content/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <!-- et line icon -->
    @*<link rel="stylesheet" href="../Content/css/et-line-icons.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/et-line-icons.css")">
    <!-- font-awesome icon -->
    @*<link rel="stylesheet" href="../Content/css/font-awesome.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <!-- themify icon -->
    @*<link rel="stylesheet" href="../Content/css/themify-icons.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/themify-icons.css")">
    <!-- swiper carousel -->
    @*<link rel="stylesheet" href="../Content/css/swiper.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/swiper.min.css")">
    <!-- justified gallery  -->
    @*<link rel="stylesheet" href="../Content/css/justified-gallery.min.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/justified-gallery.min.css")">
    <!-- magnific popup -->
    @*<link rel="stylesheet" href="../Content/css/magnific-popup.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/magnific-popup.css")">
    <!-- revolution slider -->
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/settings.css" media="screen" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/settings.css")" media="screen">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/layers.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/layers.css")">
    @*<link rel="stylesheet" type="text/css" href="../revolution/css/navigation.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/revolution/css/navigation.css")">
    <!-- bootsnav -->
    @*<link rel="stylesheet" href="../Content/css/bootsnav.css">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootsnav.css")">
    <!-- style -->
    @*<link rel="stylesheet" href="../Content/css/style.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/style.css")">
    <!-- responsive css -->
    @*<link rel="stylesheet" href="../Content/css/responsive.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsive.css")">
</head>
<body>
    <header>
        <style>
            .headers {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: black;
                /*padding: 10px;*/
                color: white;
                font-family: Arial, sans-serif;
            }

            .left {
                display: flex;
                align-items: center;
                margin-left: 40%;
            }

            .sale {
                background-color: #2E2D8B;
                padding: 5px 10px;
                border-radius: 4px;
                margin-right: 10px;
            }

            .home-pill {
                display: inline-block;
                background: linear-gradient(90deg, #344385 2%, #a24739 99.97%), linear-gradient(103deg, #fff -0.01%, #ffdb4c 67.22%, #c3ce7f 101.27%);
                backdrop-filter: blur(1.8896210193634033px);
                padding: 6px 9px;
                font-size: 13px !important;
                line-height: 1;
                color: #fff;
                border-radius: 6px;
                margin: -2px 8px 0 0;
                font-weight: 500 !important;
                letter-spacing: 0.01em !important;
            }

            .discount {
                font-size: 14px;
            }

                .discount a {
                    color: white;
                    text-decoration: underline;
                }

            .right a {
                color: white;
                margin-left: 15px;
                text-decoration: none;
            }

            .right .search-icon, .right .cart-icon {
                font-size: 18px;
            }

            .right a:hover {
                text-decoration: underline;
            }
        </style>
        <style>
            body {
                font-family: Arial, sans-serif;
            }

            /* Modal styles */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
                padding-top: 60px;
            }

            .modal-content {
                background-color: #fefefe;
                margin: 5% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 300px;
            }

            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
        <div class="headers">
            <div class="left">
                <span class="sale home-pill">Black Friday sale</span>
                <span class="discount">Up to 75% off <a href="#">Shop now</a></span>
            </div>
            <div class="right">
                <a href="#">Support</a>
                <a href="#">Contact</a>
                <a href="#"><i class="search-icon">🔍</i></a>
                @*<a href="#"><i class="cart-icon">🛒</i></a>*@
                @*<button class="btn btn-very-small btn-rounded btn-white box-shadow-dark" onclick="Login()" type="button">Login</button>*@
                <script>
                    function Login() {
                        $(window.location).attr("href", "/UserLogin/Login");
                    }
                </script>
            </div>
        </div>
        <!--<div id="loginModal" class="modal">-->
        <!-- Modal content -->
        <!--<div class="modal-content">
                <span class="close">&times;</span>
                <h2>Login</h2>

                <label for="username">Username:</label>
                <input type="text" id="txtUserCode" name="txtUserCode" class="form-control">
                <label for="password">Password:</label>
                <input type="password" id="txtPassword" class="form-control" name="txtPassword" >
                <button class="btn btn-primary btn-rounded"id="btnLogin" type="button">Login</button>Don't have an account?<a href="../Home/Registration">Sign up</a>

            </div>
        </div>-->
        <!-- start navigation -->
        <nav class="navbar navbar-default bootsnav navbar-top white-link header-dark background-transparent nav-box-width padding-four-lr navbar-expand-lg">
            <div class="container-fluid nav-header-container">
                <!-- start logo -->
                <div class="col col-md-auto col-lg-2 pl-0">
                    <a href="#" title="DC9India" class="logo"><img src="~/Content/images/Dc9Logo.png" data-rjs="~/Content/images/Dc9Logo.png" class="logo-dark" alt="Pofo"><img src="~/Content/images/Dc9Logo.png" data-rjs="~/Content/images/Dc9Logo.png" alt="Pofo" class="logo-light default" style="width:100px;"></a>
                </div>
                <!-- end logo -->
                <div class="col col-md accordion-menu pr-0 pr-lg-3">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-center" id="navbar-collapse-toggle-1">
                        <ul class="nav navbar-nav alt-font text-normal">
                            <!-- start menu item -->
                            <li><a href="../Home/AboutUs" class="inner-link">About us</a></li>
                            <!-- end menu item -->
                            <!-- start menu item -->
                            <li><a href="../Home/ContactUs" class="inner-link">Contact Us</a></li>
                            <!-- end menu item -->
                            <!-- start menu item -->
                            <li><a href="#blog" class="inner-link">Blog</a></li>
                            <!-- end menu item -->
                            <!-- start menu item -->
                            <li><a href="#features" class="inner-link">Features</a></li>
                            <!-- end menu item -->
                            <!-- start menu item -->
                            @*<li><a href="http://www.themezaa.com/html/pofo/documentation/" target="_blank">Documentation</a></li>*@
                            <!-- end menu item -->
                            <!-- start menu item -->
                            <li><a href="http://www.themezaa.com/support.php" target="_blank">Support</a></li>
                            <!-- end menu item -->
                        </ul>
                    </div>
                </div>
                @*<div class="col col-md-auto col-lg-2 pr-0 text-right">
                    <a href="https://1.envato.market/g7jrr" target="_blank" class="btn btn-very-small btn-rounded btn-white box-shadow-dark">Buy Now<i class="fas fa-shopping-cart"></i></a>
                </div>*@
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <div>
        @RenderBody()
    </div>
    <!-- start call to action -->
    <section class="half-section wow fadeIn cover-background" style="background-image: url('http://placehold.it/1920x472');">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 position-relative text-center">
                    <span class="text-extra-large text-white-2 alt-font d-inline-block margin-5px-top margin-30px-right sm-no-margin-right sm-no-margin-top sm-margin-15px-bottom sm-width-100">We'd love to hear about your project</span>
                    <a href="contact-us-simple.html" class="btn btn-white btn-small align-top sm-no-margin-right">Start a Project</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action -->
    <!-- start footer -->
    <footer class="footer-clean padding-five-tb sm-padding-30px-tb">
        <div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
            <div class="container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-lg-3 widget text-left text-md-center text-lg-left md-margin-50px-bottom sm-margin-30px-bottom">
                        <a href="http://www.themezaa.com" class="d-inline-block"><img class="footer-logo" src="images/logo.png" data-rjs="images/logo@2x.png" alt=""></a>
                    </div>
                    <!-- end logo -->
                    <!-- start contact information -->
                    <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">contact information</div>
                        <div class="text-small line-height-24 width-75 sm-width-100 text-medium-gray">301 The Greenhouse, Custard Factory, London, E2 8DY.</div>
                        <div class="text-small line-height-24 text-medium-gray">Email: <a href="mailto:sales@domain.com" class="text-medium-gray">sales@domain.com</a></div>
                        <div class="text-small line-height-24 text-medium-gray">Phone: +44 (0) 123 456 7890</div>
                    </div>
                    <!-- end contact information -->
                    <!-- start social media -->
                    <div class="col-lg-3 col-md-4 widget sm-margin-30px-bottom">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-15px-bottom font-weight-600">On social networks</div>
                        <ul class="list-unstyled">
                            <li class="w-50 float-left"><a href="https://www.facebook.com/" target="_blank" class="text-medium-gray text-small">Facebook</a></li>
                            <li class="w-50 float-left"><a href="https://www.pinterest.com/" target="_blank" class="text-medium-gray text-small">Pinterest</a></li>
                            <li class="w-50 float-left"><a href="https://www.twitter.com/" target="_blank" class="text-medium-gray text-small">Twitter</a></li>
                            <li class="w-50 float-left"><a href="https://www.linkedin.com/" target="_blank" class="text-medium-gray text-small">Linkedin</a></li>
                            <li class="w-50 float-left"><a href="https://www.dribbble.com/" target="_blank" class="text-medium-gray text-small">Dribbble</a></li>
                            <li class="w-50 float-left"><a href="https://www.youtube.com/" target="_blank" class="text-medium-gray text-small">Youtube</a></li>
                            <li class="w-50 float-left"><a href="https://www.instagram.com/" target="_blank" class="text-medium-gray text-small">Instagram</a></li>
                        </ul>
                    </div>
                    <!-- end social media -->
                    <!-- start newsletter -->
                    <div class="col-lg-3 col-md-4 widget">
                        <div class="widget-title alt-font text-extra-small text-extra-dark-gray text-uppercase margin-20px-bottom font-weight-600">subscribe newsletter</div>
                        <form id="subscribenewsletterform" action="javascript:void(0)" method="post">
                            <div class="position-relative w-100">
                                <div id="success-subscribe-newsletter" class="mx-0"></div>
                                <input type="text" id="email" name="email" class="bg-transparent text-small margin-10px-bottom" placeholder="Enter your email...">
                                <button id="button-subscribe-newsletter" type="submit" class="btn btn-dark-gray btn-very-small">subscribe</button>
                            </div>
                        </form>
                    </div>
                    <!-- end newsletter -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border-color-extra-light-gray border-top padding-40px-top sm-padding-30px-top">
                <div class="row">
                    <!-- start copyright -->
                    <div class="col-12 text-small text-center text-medium-gray">&COPY; 2019 POFO is Proudly Powered by <a href="http://wwwo.themezaa.com" target="_blank" title="ThemeZaa" class="text-medium-gray">ThemeZaa</a></div>
                    <!-- end copyright -->
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    @*<script>
            // Get the modal
            var modal = document.getElementById("loginModal");

            // Get the button that opens the modal
            var btn = document.getElementById("loginBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>*@
    @*<script type="text/javascript" src="../Content/js/jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    @*<script type="text/javascript" src="../Content/js/modernizr.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/modernizr.js")"></script>
    @*<script type="text/javascript" src="../Content/js/bootstrap.bundle.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.bundle.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.easing.1.3.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easing.1.3.js")"></script>
    @*<script type="text/javascript" src="../Content/js/skrollr.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skrollr.min.js")"></script>
    @*<script type="text/javascript" src="../Content/js/smooth-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/smooth-scroll.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.appear.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.appear.js")"></script>
    <!-- menu navigation -->
    @*<script type="text/javascript" src="../Content/js/bootsnav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootsnav.js")"></script>
    @*<script type="text/javascript" src="../Content/js/jquery.nav.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nav.js")"></script>
    <!-- animation -->
    @*<script type="text/javascript" src="../Content/js/wow.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <!-- page scroll -->
    @*<script type="text/javascript" src="../Content/js/page-scroll.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/page-scroll.js")"></script>
    <!-- swiper carousel -->
    @*<script type="text/javascript" src="../Content/js/swiper.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/swiper.min.js")"></script>
    <!-- counter -->
    @*<script type="text/javascript" src="../Content/js/jquery.count-to.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.count-to.js")"></script>
    <!-- parallax -->
    @*<script type="text/javascript" src="../Content/js/jquery.stellar.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.stellar.js")"></script>
    <!-- magnific popup -->
    @*<script type="text/javascript" src="../Content/js/jquery.magnific-popup.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.magnific-popup.min.js")"></script>
    <!-- portfolio with shorting tab -->
    @*<script type="text/javascript" src="../Content/js/isotope.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/isotope.pkgd.min.js")"></script>
    <!-- images loaded -->
    @*<script type="text/javascript" src="../Content/js/imagesloaded.pkgd.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/imagesloaded.pkgd.min.js")"></script>
    <!-- pull menu -->
    @*<script type="text/javascript" src="../Content/js/classie.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/classie.js")"></script>
    @*<script type="text/javascript" src="../Content/js/hamburger-menu.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/hamburger-menu.js")"></script>
    <!-- counter  -->
    @*<script type="text/javascript" src="../Content/js/counter.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/counter.js")"></script>
    <!-- fit video  -->
    @*<script type="text/javascript" src="../Content/js/jquery.fitvids.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.fitvids.js")"></script>
    <!-- skill bars  -->
    @*<script type="text/javascript" src="../Content/js/skill.bars.jquery.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/skill.bars.jquery.js")"></script>
    <!-- justified gallery  -->
    @*<script type="text/javascript" src="../Content/js/justified-gallery.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/justified-gallery.min.js")"></script>
    <!--pie chart-->
    @*<script type="text/javascript" src="../Content/js/jquery.easypiechart.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easypiechart.min.js")"></script>
    <!-- retina -->
    @*<script type="text/javascript" src="../Content/js/retina.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/retina.min.js")"></script>
    <!-- revolution -->
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.tools.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.tools.min.js")"></script>
    @*<script type="text/javascript" src="../revolution/js/jquery.themepunch.revolution.min.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>


</body>
</html>
